.editPairRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.titleInput {
    padding: 1px 4px;
    position: unset !important;
}

.valueInput {
    padding: 0 4px;
    position: unset !important;
    text-align: right;
}

.valueDisplay {
    position: unset !important;
    text-align: right;
}

.border-right {
    border-left: 1px solid #799aa4;
}

.viewer .border-right {
    border-left: none
}


.skillInput {
    padding: 0 4px;
    width: 45%;
    position: unset !important;
}

.costInput {
    padding: 0 4px;
    position: unset !important;
    text-align: left;
    width: 29%;
    z-index: 1;
}

.costView {
    padding: 0 4px;
    position: unset !important;
    text-align: center;
    width: 29%;
}

.rankInput {
    padding: 0 4px;
    position: unset !important;
    text-align: center;
    width: 26%;
}

.totalCost {
    padding: 0 4px;
    position: absolute;
    text-align: right;
    width: 29%;
    left: 113px;
    z-index: 0;
}