/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.strikeout {
    text-decoration: line-through;
}

.buttonStrikeThrough {
    text-decoration: line-through;
}

.fa-spinner {
    font-size: 75px;
    color: white;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinnerShell {
    width: 75px;
    min-height: 100vh;
    margin: 45px auto;
}

.spinner-tiny {
    font-size: 30px;
    color: #2192b8;
}

.downloadStylings .currentBox p:last-child {
    color: white !important
}

.downloadingBanner {
    position: absolute;
    z-index: 5;
    background: #b76400;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    top: 160px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.downloadingBanner h4, .downloadingBanner p {
    background: transparent;
    color: white;
    margin: 0;
    padding: 5px 0;
}

.pageOneMiddle {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.leftColumn {
    width: 426px;
}

.rightColumn {
    width: 325px;
    margin-top: -32px;
}

.dieAndMinShell {
    margin-top: 5px;
    border: solid 2px black;
}

.dieAndMinShell div {
    display: flex;
}

.dieAndMinShell div:nth-child(even) {
    background-color: lightgray;
}

.dieAndMinShell div p {
    width: 25%;
    text-align: center;
}

.dieAndMinShell div p:first-child {
    width: 75%;
    text-align: left;
    font-family: 'Vollkorn SC', serif;
    font-size: 11px;
    padding: 2px 0 0 5px;
}

.dieAndMinShell input {
    width: 25%;
    text-align: center;
}

#pdf {
    width: 816px;
}

.pdfViewStylings {
    margin: 35px auto 0;
}

.pdfBackground {
    background-color: grey;
    padding: 15px 0;
}

.abilitiesWidth {
    width: 33%;
}

.removeButtons {
    display: none;
}

.Buttons {
    position: sticky;
    display: flex;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
}

.generalNotesButton {
    position: sticky;
    top: 0px;
    bottom: unset;
    border-bottom-right-radius: 50px;
}

.generalNotesButton i {
    position: absolute;
    top: -4px;
    left: 5px;
}

.sidebar {
    transform: translate3d(-280px, 0px, 0px);
    position: absolute;
    width: 280px;
    background: #263249;
    color: #eee;
    left: 0;
    height: 100%;
    transition: all .3s;
}

.open {
    transform: translate3d(280px, 0, 0);
}

.corner-button {
    background-color: white;
    height: 50px;
    width: 50px;
}

.left-corner-button {
    border-top-right-radius: 50px;
}

.zindexOne {
    z-index: 1;
}

.left-corner-button i {
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.downloadAsPregen {
    position: absolute;
    bottom: -9px;
    left: -9px;
    background-color: white;
    height: 50px;
    width: 50px;
    transition: .6s;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyCharacter {
    position: absolute;
    bottom: -9px;
    right: -9px;
    background-color: white;
    height: 50px;
    width: 50px;
    transition: .6s;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.zindexNegOne {
    z-index: -1;
}

.left-corner-button:hover .downloadAsPregen {
    bottom: 30px;
    left: 30px;
}

.right-corner-button:hover .copyCharacter {
    bottom: 30px;
    right: 30px;
}

.centerIconRight {
    bottom: 0px !important;
    right: 0px !important;
}

.centerIconLeft {
    bottom: 0px !important;
    left: 0px !important;
}

.downloadAsPregen i {
    font-size: 35px;
    color: grey;
    position: absolute;
    top: 7px;
    left: 8px;
}

.downloadAsPregen:hover i {
    color: #2192b8;
    ;
    transition: .6s;
    cursor: pointer;
}

.bannerTooltipLeft {
    position: absolute;
    width: 0px;
    background: lightgray;
    font-size: 13px;
    left: 32px;
    padding: 2px 5px 2px 10px;
    z-index: -3;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    transition: .6s;
}

.bannerTooltipLeft p {
    margin: 0;
    padding-left: 13px;
    width: 162px;
}

.downloadAsPregen:hover .bannerTooltipLeft {
    width: 162px;
}

.bannerTooltipRight {
    position: absolute;
    width: 0px;
    background: lightgray;
    font-size: 13px;
    right: 17px;
    padding: 2px 10px 2px 5px;
    z-index: -3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    transition: .6s;
}

.singleBanner {
    bottom: 5px;
}

.bannerTooltipRight p {
    margin: 0;
    padding-left: 13px;
    width: 162px;
}

.copyCharacter:hover .bannerTooltipRight, .right-corner-button:hover .singleBanner {
    width: 162px;
}

.movementAndStats {
    display: flex;
    justify-content: space-between;
}

.right-corner-button {
    position: relative;
    border-top-left-radius: 50px;
    overflow: hidden;
}

.right-corner-button i {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.right-corner-button .copyCharacter i {
    bottom: 10px;
    right: 10px;
}

.editButton {
    position: sticky;
    bottom: 10px;
    margin-left: 10px
}

.fa-file-download, .fa-edit, .fa-save, .fa-clone, .fa-book-open {
    font-size: 30px;
    color: gray
}

.fa-file-download {
    bottom: 19px !important;
}

.fa-window-close {
    font-size: 26px;
    color: gray
}

.fa-file-download:hover, .fa-edit:hover, .fa-save:hover, .fa-window-close:hover, .fa-clone:hover, .fa-book-open:hover {
    color: #2192b8;
}

.pageBase {
    height: 1016px;
    width: 776px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
}

.pageViewStylings {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.dr-icon {
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.armor-dr-icon {
    background-image: url("../../assets/armor.svg");
}

.shield-dr-icon {
    background-image: url("../../assets/shield.svg");
}

.pageTwoMargin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pageBase p, .pageBase input {
    font-size: 12px;
    margin: 0 0 2px;
    white-space: pre-wrap;
}

input, textarea {
    background: rgba(173, 216, 230, 0.50);
    border: none;
    position: relative;
    font-size: 13px;
}

textarea {
    font-size: 11px;
}

.editing input {
    background: rgba(173, 216, 230, 0.50) !important;
}

.viewer input, .viewer textarea {
    background-color: transparent;
}

.viewer input:hover, .viewer textarea:hover {
    background: rgba(173, 216, 230, 0.50);
    transition: .8s
}

.armorBonusArea textarea {
    overflow: hidden;
    text-indent: 40px;
}

.plates p {
    font-family: 'Vollkorn SC', serif;
}

.filledOut p {
    border-bottom: 2px solid;
    padding: 1px 5px;
}

.cultural-strength-input {
    width: 100%;
}


.pageBase h1 {
    background: #990000;
    color: white;
    margin: 0;
    padding-left: 10px;
    font-size: 15px;
}

.pageBase h2 {
    background: #222;
    color: white;
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-family: 'Vollkorn SC', serif;
    height: 19.6px;
}

.vitalShell div:nth-child(even),
.rangeShell div:nth-child(odd) {
    background: lightgray;
}

.stressThresholdShell p, .stressThresholdShell input, .rangeShell p, .rangeShell input,
.skillShell p, .skillShell input, .cashAndGearShell p, .cashAndGearShell input, .baseCombatStatsShell p,
.armorBlockShell p, .armorBlockShell input, .shieldBlockShell p, .shieldBlockShell input, 
.statsShell input, .vitalsShell input, .combatSkills p, .combatSkills input {
    position: unset !important;
    z-index: 1;
    margin: 0;
    min-height: 19.6px;
}

#confDieShell {
    width: 48px;
    position: relative;
}

#confDieShell p {
    position: absolute !important;
}

#confDieShell p:nth-child(2) {
    color: lightgray;
    z-index: 0;
    font-size: 9px;
    top: 2px;
    left: 2px;
}

.statRowsShell div:nth-child(even) #confDieShell p:nth-child(2) {
    color: whitesmoke
}

.strCarryLocation {
    left: 713px;
    top: 488px;
    width: 80px;
    text-align: center;
}

.shownGearCarryLocation {
    left: 621px;
    top: 488px;
    width: 80px;
    text-align: center;
}

.baseCombatStatsShell {
    position: absolute;
    top: 532px;
    left: 187px;
    width: 177px;
}

.baseCombatStatsShell div {
    display: flex;
    justify-content: space-between;
}

.baseCombatStatsShell div p:first-child {
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    width: 61px;
    padding: 2px 5px 0;
}

.baseCombatStatsShell div p:last-child {
    width: 116px;
    text-align: center;
}

.baseCombatStatsShell div:nth-child(odd) {
    background: lightgray
}

.baseCombatStatsShell div div {
    position: relative;
}

.baseCombatStatsShell div div p:first-child {
    position: absolute !important;
    width: 116px;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    padding-top: 3px;
    color: white
}

.baseCombatStatsShell div:nth-child(even) div p:first-child {
    color: lightgray
}

strong {
    font-size: 12px;
    font-family: 'Vollkorn SC', serif;
    font-weight: unset;
    margin-right: 5px;
}

.racial-temp-edit-shell {
    display: flex;
    width: 224px;
    background-color: lightgray;
}

.racial-temp-edit-shell strong {
    margin-top: 4px;
    margin-right: 4px;
}

.stressThresholdShell {
    top: 420px;
    right: 186px;
    position: absolute;
    width: 159px;
}

.vitalShell {
    border: 2px solid black;
}

.vitalShell div {
    display: flex;
    justify-content: space-between;
}

.vitalShell div p, .vitalShell div input {
    margin: 0;
    width: 50%;
    height: unset;
    min-height: unset;
}

.vitalShell div p:first-child {
    font-family: 'Vollkorn SC', serif;
    font-size: 11px;
    padding-left: 5px;
}

.vitalShell div:first-child p:first-child {
    background: #222;
    color: whitesmoke;
    padding-top: 1px;
    font-size: 13px;
    padding-left: 5px;
    margin: -1px;
}

.checkboxShellInner {
    width: 50%;
    background: none !important;
    justify-content: space-around !important;
}

.anointedDiv, .secretNotesDiv {
    padding: 1px;
    border: 1px solid grey;
    background: whitesmoke;
    width: 19.6px;
    height: 19.6px;
}

.general-notes-header {
    display: flex;
    justify-content: space-between;
    background-color: #990000;
}

.general-notes-header h1 {
    width: 50%;
}

.general-notes-header .general-notes-subtitle p {
    position: unset;
    margin: 0 15px 0 5px;
    color: whitesmoke
}

.general-notes-subtitle {
    display: flex;
}

.currentstressLocation {
    top: 426px;
    left: 546px;
    width: 74px;
    text-align: center;
    z-index: 1;
}

.stressthresholdLocation {
    top: 448px;
    left: 546px;
    width: 74px;
    text-align: center;
}

.mentalBreak {
    background-color: #990000;
    color: whitesmoke;
}

.relaxationLocation {
    top: 468px;
    left: 546px;
    width: 74px;
    text-align: center;
}

.currentfavorLocation {
    top: 489px;
    left: 545px;
    width: 75px;
    text-align: center;
}

.favormaxLocation {
    top: 509px;
    left: 545px;
    width: 75px;
    text-align: center;
}

.favoranointed {
    top: 535px;
    left: 577px;
    text-align: center;
    transform: scale(1.5);
}

.favorminLocation {
    top: 552px;
    left: 546px;
    width: 74px;
    text-align: center;
}

.rangeShell {
    display: flex;
    flex-direction: column;
    top: 420px;
    right: 20px;
    width: 151px;
    position: absolute;
}

.rangeShell div {
    display: flex;
    justify-content: space-between;
}

.rangeShell div p {
    text-align: center;
}

.rangeShell div p:first-child, .rangeShell div p:nth-child(3) {
    font-family: 'Vollkorn SC', serif;
    font-size: 13px;
    font-weight: bold;
    width: 30px;
}

.maxrangeLocation {
    top: 552px;
    left: 745px;
    width: 50px;
    text-align: center;
}

.one {
    top: 446px;
    left: 674px;
}

.two {
    top: 446px;
}

.three {
    top: 468px;
    left: 674px;
}

.four {
    top: 468px;
}

.five {
    top: 490px;
    left: 674px;
}

.six {
    top: 490px;
}

.seven {
    top: 510px;
    left: 674px;
}

.eight {
    top: 510px;
}

.nine {
    top: 530px;
    left: 674px;
}

.ten {
    top: 530px;
}

.eleven {
    top: 552px;
    left: 674px;
}

.sizemodLocation {
    top: 824px;
    width: 48px;
    left: 524px;
    text-align: center;
}

.vitalsShell {
    top: 574px;
    position: absolute;
    width: 325px;
    right: 20px;
}

.woundCategoryShell {
    position: relative;
    display: flex;
}

.woundCategoryShell div {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.woundCategoryShell div:nth-child(even) {
    background: lightgray;
}

.vitalsShell p {
    position: unset;
}

.woundCategoryShell div p:first-child, .currentBox p:first-child, .thresholdBox p:first-child {
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    padding-top: 2px;
}

.currentBox p:first-child, .thresholdBox p:first-child {
    font-size: 9px;
}

.woundCategoryShell p:nth-child(2) {
    width: 60%;
    font-size: 10px;
}

.currentDamageRow {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.currentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #990000;
    padding: 0 3px;
}

.thresholdBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid grey;
}

.tinyGrey {
    font-family: 'Vollkorn SC', serif;
    font-size: 10px !important;
    text-align: center;
    color: grey;
}

.damageShell {
    display: flex;
    justify-content: space-between;
}

.damageShellLeft, .damageShellRight {
    display: flex;
    justify-content: space-between;
}

.damageShellLeft {
    width: 46%;
}

.woundTitleShell p {
    font-family: 'Vollkorn SC', serif;
    height: 19.6px;
    margin: 0;
    color: grey;
    padding-top: 2px;
}

.damageShellLeft .woundTitleShell p {
    width: 50px;
}

.damageShellRight .woundTitleShell p {
    width: 77px;
}

.woundTitleShell p:nth-child(even) {
    background: lightgray;
}

.criticalLocation {
    width: 60%;
    text-align: center;
}

.hurtLocation {
    width: 74px;
    text-align: center;
}

.bloodiedLocation {
    width: 74px;
    text-align: center;
}

.woundedLocation {
    width: 74px;
    text-align: center;
}

.currentDamageLocation {
    width: 51px;
    text-align: center;
}

.traumaLocation {
    width: 74px;
    text-align: center;
}

.vitalyRollsShell {
    width: 33%;
    display: flex;
    justify-content: space-between;
}

.vitalyRollsShell div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2px;
    border-right: 2px solid lightgrey;
}

.vitalyRollsShell div:last-child {
    border-right: none;
}

.vitalyRollsShell div p:first-child {
    font-family: 'Vollkorn SC', serif;
    margin: 0;
    padding-top: 2px;
    font-size: 10px;
}

.vitalyRollsShell div p:nth-child(2), .vitalyRollsShell div input:nth-child(2) {
    width: 38%
}

.vitalityrollLocation {
    width: 47px;
    text-align: center;
}

.vitalitydiceLocation {
    width: 36px;
    text-align: center;
}

.vitalityminLocation {
    width: 36px;
    text-align: center;
}

.abilitiesShell {
    top: 856px;
    position: absolute;
    width: 776px;
    left: 20px;
}

.abilitiesShell .ability-header {
    display: flex;
}

.abilitiesShell .ability-header h1 {
    width: 33.33%;
}

.abilitiesShell .ability-header h1:first-child {
    width: 66.67%;
}

.abilitiesContentShell {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.abilityShell {
    width: 33%;
}

.abilityShell .contactStriping div, .removedAbilityShell {
    height: 17.6px;
}

.abilitiesoneLocation, .abilitiestwoLocation {
    top: 0px;
    height: 159px;
    overflow: hidden;
    padding: 0 2px;
}

.abilitiesonetextArea {
    max-width: 33%;
    min-width: 33%;
    max-height: 165px;
    min-height: 165px;
    overflow: hidden;
    position: absolute;
}

.abilitiestwotextArea {
    width: 33%;
    max-width: 33%;
    min-width: 33%;
    max-height: 165px;
    min-height: 165px;
    overflow: hidden;
    position: absolute;
}

.abilitiesthreeLocation {
    top: 0px;
    height: 139px;
    overflow: hidden;
    padding: 0 2px;
}

.abilitiesthreetextArea {
    width: 33%;
    max-width: 33%;
    min-width: 33%;
    max-height: 140px;
    min-height: 140px;
    overflow: hidden;
    position: absolute;
}

.removedAbilityShell {
    display: flex;
    justify-content: space-between;
}

.removedAbilityShell h2 {
    padding: 0 5px;
}

.removedabilityLocation {
    position: unset !important;
    width: 125px;
    text-align: center;
}

.generalNotesShell {
    position: absolute;
    top: 532px;
    left: 395px;
    width: 403px;
}

.generalNotesShell div .generalNoteStriping div {
    height: 19.6px;
}

.generalNotesShell div .generalNoteStriping div:nth-child(even) {
    background: lightgray;
}

.generalnotestextArea {
    position: absolute;
    top: 23px;
    width: 815px;
    max-width: 815px;
    height: 1033px;
    max-height: 1033px;
    overflow: hidden;
    white-space: pre-wrap;
}

.cashAndGearShell {
    top: 20px;
    position: absolute;
    width: 776px;
    left: 20px;
}

.cashShell {
    position: absolute;
    top: 0;
    right: -2px;
    display: flex;
    height: 22.4px;
    padding: 0px 2px;
}

.cashIndividual {
    width: 54px;
    text-align: center;
}

.cashShell div {
    width: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0 2px
}

.cashShell div:nth-child(odd) {
    background: white
}

.cashShell div:nth-child(even) {
    background: lightgray
}

.cashShell div p {
    padding-top: 4px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
}

.gearColumns {
    display: flex;
    justify-content: space-between;
}

.gearColumn {
    width: 25%;
}


.gearHeaderShell {
    display: flex;
    justify-content: space-between;
    background: #222;
    padding: 0 0 0 5px
}

.gearHeaderShell h2:first-child {
    width: 75%;
    text-align: left;
}

.gearHeaderShell h2:nth-child(2) {
    width: 25%;
}

.carryShell {
    position: relative;
    width: 100%;
    border: 2px solid #222;
    background: lightgray;
    text-align: center;
    height: 19.6px;
}

.carryBackground {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carryBackground p {
    font-family: 'Vollkorn SC', serif;
}

.carryBackground p:first-child, .carryBackground p:last-child, .carryForeground p:first-child, .carryForeground p:last-child {
    min-width: 45%;
}

.carryBackground p:last-child {
    color: whitesmoke;
}

.carryForeground {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carryForeground p:last-child {
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    padding: 1px 0;
}

.circle {
    border-radius: 50px/50px;
    border: solid 2px #000;
    width: 33px;
    height: 21px;
    position: absolute;
    z-index: 2;
}

.panickedCircle, .woundCircle {
    width: 24px !important;
    position: absolute;
    z-index: 2;
    color: red
}

.circle-fill {
    background: whitesmoke;
    font-size: 12px;
    border-radius: 14px;
    padding: 0 0 0 5px;
    width: 28px;
}

.armorBlockShell {
    position: absolute;
    top: 532px;
    left: 20px;
    width: 151px;
    border: 2px #222 solid;
}

.armorBlockShell div:nth-child(even), .shieldBlockShell div:nth-child(even), .weaponProfileShell div:nth-child(odd) {
    background: lightgray;
}

.armorBlockShell div, .shieldBlockShell div {
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
}

.basicStatsDrawer div {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.basicStatsDrawer div:last-child {
    background: none;
}

.basicStatsDrawer div p, .basicStatsDrawer div input {
    width: 50%;
}

.basicStatsDrawer div p:last-child, .basicStatsDrawer div input:last-child {
    text-align: center;
}

.basicStats p:first-child, .basicStatsDrawer div p:first-child {
    padding-top: 2px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
}

.basicStats p:last-child, .basicStats input:last-child {
    text-align: center;
}

.basicStats p:first-child, .basicStats p:last-child, .basicStats input:first-child, .basicStats input:last-child {
    width: 75px;
}

.twinShieldStats div {
    padding: 0;
    width: 50%;
}

.twinShieldStats div p, .twinShieldStats div input {
    width: 50%;
    text-align: center;
}

.twinShieldStats div p:first-child, .twinShieldStats div input:first-child {
    padding-top: 2px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    text-align: left;
}

.armornameLocation {
    padding: 3px 2px 0;
    background: lightgrey;
    width: 100%;
    border-radius: 0;
    text-align: left;
    font-size: 12px;
}

.armorBonusArea {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    max-height: 49px;
    min-height: 49px;
    overflow: hidden;
}

.armorBonusAreaView {
    max-height: 48px;
    min-height: 48px;
}

.shieldBonusArea {
    max-height: 74px;
    min-height: 74px;
}

.armorBonusArea p:first-child {
    padding-top: 2px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    position: absolute !important;
    top: 0;
    left: 0;
}

.armorBonusArea p:last-child {
    width: 100%;
    text-indent: 39px;
}

.calculatedStats {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.calculatedStatsHeading {
    background: grey !important;
    font-family: 'Vollkorn SC', serif;
    color: white
}

.calculatedStatsHeading p {
    padding-top: 2px;
}

.calculatedStats p, .calculatedStats input {
    width: 25px;
    text-align: center;
    border-right: 2px solid grey;
}

.calculatedStats.shield p, .calculatedStats.shield input, .calculatedStats.shield.calculatedStatsHeading p {
    width: 33px;
}

.calculatedStats p:last-child {
    padding-top: 2px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    text-align: left;
    min-width: 40px;
    border-right: none
}

.shieldBlockShell {
    position: absolute;
    top: 765px;
    left: 20px;
    width: 151px;
    border: 2px #222 solid;
}

.shieldnameLocation {
    padding: 3px 2px 0;
    background: lightgrey;
    width: 100%;
    border-radius: 0;
    text-align: left;
    font-size: 12px;
    width: 100%;
}

.weaponProfileShell {
    position: absolute;
    top: 725px;
    width: 154px;
    border-left: 2px #222 solid;
    border-bottom: 2px #222 solid;
}

.weaponProfileone {
    left: 169px;
}

.weaponProfiletwo {
    left: 320px;
}

.weaponProfilethree {
    left: 472px;
}

.weaponProfilefour {
    width: 174px;
    left: 625px;
    border-right: 2px #222 solid;
}

.armorBaseStats, .armorBaseStats div {
    display: flex;
    justify-content: space-between;
}

.weaponCalculatedStats {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.weaponCalculatedStatsHeader {
    background: grey !important;
    font-family: 'Vollkorn SC', serif;
    color: white;
}

.weaponCalculatedStatsHeader p {
    font-size: 10px;
    padding-top: 3px;
}

.weaponCalculatedStats p, .weaponCalculatedStats input {
    width: 28px;
    text-align: center;
    border-right: 2px solid grey;
}

.weaponCalculatedStats p:last-child {
    padding-top: 2px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    text-align: left;
    border-right: none;
    width: 37px;
}

.armorBaseStats div p:first-child, .armorBaseStats p:first-child {
    padding-top: 2px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
}

.armorBaseStats div p:last-child, .armorBaseStats p:last-child, .armorBaseStats div input:last-child, .armorBaseStats input:last-child {
    text-align: center;
    width: 40px;
}

.basedamageLocation {
    min-width: 100px;
}

.armorBaseStats div {
    background: none !important;
}

.fourDisplayNone {
    display: none;
}

.weaponnameLocation {
    width: 154px;
}

.weaponnamefour {
    width: 173px
}

.weaponBonusArea {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    max-height: 62px;
    min-height: 62px;
    overflow: hidden;
}

.weaponBonusArea textarea {
    height: 61px;
    overflow: hidden;
    text-indent: 40px;
    width: 100%;
}

.weaponTraitArea {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    max-height: 54px;
    min-height: 54px;
    overflow: hidden;
}

.weaponBonusArea p:first-child, .weaponTraitArea p:first-child {
    padding-top: 2px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    position: absolute !important;
    top: 0;
    left: 0;
}

.weaponBonusArea p:last-child, .weaponTraitArea p:last-child {
    width: 100%;
    text-indent: 42px;
}

.bonusfour {
    max-height: 82px;
    min-height: 82px;
}

.weaponProfilefour .weaponCalculatedStats:nth-child(odd) {
    background: white;
}

.weaponProfilefour .weaponCalculatedStats:nth-child(even) {
    background: lightgray;
}

.valueDisplay {
    padding-right: 5px;
}

.traitsLocation {
    width: 149px;
    text-indent: 46px;
}

.traitstextArea {
    max-width: 149px;
    min-width: 149px;
    max-height: 42px;
    min-height: 42px;
    overflow: hidden;
}

textarea.traitsLocation {
    height: 54px;
    overflow: hidden;
}

.traitsfour {
    max-width: 173px;
    min-width: 173px;
    max-height: 60px;
    min-height: 60px;
}

.trainattackLocation {
    width: 25px;
    top: 235px;
    left: 1px;
    text-align: center;
}

.trainrecoveryLocation {
    width: 25px;
    top: 235px;
    left: 26px;
    text-align: center;
}

.trainparryLocation {
    width: 25px;
    top: 235px;
    left: 51px;
    text-align: center;
}

.traindamageLocation {
    width: 25px;
    top: 235px;
    left: 76px;
    text-align: center;
}

.miscattackLocation {
    width: 25px;
    top: 257px;
    left: 1px;
    text-align: center;
}

.miscrecoveryLocation {
    width: 25px;
    top: 257px;
    left: 26px;
    text-align: center;
}

.initfour {
    left: 50px !important
}

.miscparryLocation {
    width: 25px;
    top: 257px;
    left: 51px;
    text-align: center;
}

.miscdamageLocation {
    width: 25px;
    top: 257px;
    left: 76px;
    text-align: center;
}

.miscinitLocation {
    width: 25px;
    top: 257px;
    left: 101px;
    text-align: center;
}

.totalattackLocation {
    width: 25px;
    top: 282px;
    left: 1px;
    text-align: center;
}

.totalrecoveryLocation {
    width: 25px;
    top: 282px;
    left: 26px;
    text-align: center;
}

.totalparryLocation {
    width: 25px;
    top: 282px;
    left: 51px;
    text-align: center;
}

.totaldamageLocation {
    width: 25px;
    top: 282px;
    left: 76px;
    text-align: center;
}

.totalinitLocation {
    width: 25px;
    top: 282px;
    left: 101px;
    text-align: center;
}

.skillShell {
    position: absolute;
    top: 211px;
    left: 20px;
    width: 776px;
}

.innerSkillShell {
    display: flex;
    justify-content: space-between;
}

.skillLeftShell {
    width: 30%;
    border-right: 1px solid #222;
}

.skillLeftShell h2 {
    text-align: left;
    padding-left: 10px;
    margin-right: -1px;
}

.skillRightShell {
    width: 70%;
    position: relative;
    overflow: hidden;
}

.skillMods, .combatMods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skillMods div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 33%;
    height: 19.6px;
}

.combatMods div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25%;
    height: 19.6px;
}

.skillMods div:nth-child(odd), .combatMods div:nth-child(odd) {
    background: lightgray
}

.skillMods div p:first-child, .skillAdept p:first-child, .skillRow p:first-child, .combatMods p:first-child {
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    margin-top: 2px;
    padding-left: 5px;
}

.skillMods div p:nth-child(2), .combatMods div p:nth-child(2) {
    width: 24px;
    text-align: center;
}

.skillAdept {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid lightgrey;
    height: 19.6px;
}

.skilladeptLocation {
    width: 120px;
    text-align: center;
}

.skillsuiteShell {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.skillsuiteShell .skillRow {
    display: flex;
    justify-content: space-between;
}

.skillsuiteShell .skillRow:nth-child(odd), .combatRow .skillRow:nth-child(odd) {
    background: lightgray
}

.skillsuiteShell .skillRow:first-child {
    background: #222;
}

.skillRow p, .skillRow input {
    text-align: center;
    width: 40px;
    position: unset;
}

.skillRow p:first-child {
    text-align: left;
    width: 90px;
}

.skillRow h2:nth-child(2), .skillRow h2:nth-child(3), .skillRow h2:nth-child(4) {
    font-size: 10px;
    padding-top: 3px;
    padding-left: 0px;
    width: 40px;
    text-align: center;
}

.navLang {
    width: 95px !important;
    font-size: 11px !important;
}

.advSkillBackgroundShell {
    display: flex;
    justify-content: space-between;
}

.advSkillBackgroundShell div {
    width: 100%;
}

.advSkillBackgroundShell div .skillRow {
    display: flex;
    justify-content: space-between;
}

.advSkillBackgroundShell div .skillRow:first-child {
    background: #222
}

.advSkillBackgroundShell div .skillRow h2:first-child, .advSkillBackgroundShell div .skillRow p:first-child {
    width: 151px;
    text-align: left;
    padding-left: 10px;
}

.advSkillBackgroundShell div .skillRow h2:nth-child(2), .advSkillBackgroundShell div .skillRow h2:nth-child(3),
.advSkillBackgroundShell div .skillRow h2:nth-child(4), .advSkillBackgroundShell div .skillRow p:nth-child(2),
.advSkillBackgroundShell div .skillRow p:nth-child(3), .advSkillBackgroundShell div .skillRow p:nth-child(4) {
    width: 40px;
}

.advSkillBackgroundShell div .stripings {
    position: absolute;
    top: 0;
}

.advSkillBackgroundShell div .stripings div {
    height: 19.6px;
    width: 50%;
}

.advSkillBackgroundShell div .stripings div:nth-child(even) {
    background: lightgray
}

.stripeDiv {
    display: flex;
    justify-content: space-between;
}

.stripeDiv div:first-child {
    min-width: 191px;
    border-right: 2px solid grey;
}

.stripeDiv:first-child div:first-child {
    border-right: none;
}

.stripeDiv div:nth-child(2) {
    width: 80px;
    border-right: 2px solid #222;
    background: unset !important
}

.advSkillBackgroundShell div:nth-child(2) .stripings .stripeDiv div:nth-child(2) {
    border-right: none;
}

#nativename {
    width: 93px
}

.combatshell {
    position: absolute;
    top: 532px;
    left: 185px;
    display: flex;
}

.combatSkills {
    width: 225px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #222;
}

.combatAdvancedSkill {
    width: 386px;
    height: 186px;
}

.combatRow .skillRow {
    display: flex;
}

.combatRow div h2 {
    text-align: left;
    padding-left: 10px;
    margin-right: -1px;
}

.combatRow .skillRow p, .combatRow .skillRow h2, .combatRow .skillRow input, .combatCost, .combatRank, .combatTotalCost {
    width: 25%;
}

.combatRow .skillRow p:first-child, .combatRow .skillRow h2:first-child, .combatInput {
    width: 51%;
}

.combatAdept {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid lightgrey;
    height: 19.6px;
    width: 100% !important;
}

.combatAdept p:first-child {
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    margin-top: 2px;
    padding-left: 5px;
}

.combatAdept input:nth-child(2), .combatAdept p:nth-child(2) {
    width: 55px;
    text-align: center;
}

.combatSkillRowShell .skillRow h2, .combatRanks, .combatCost, .combatTotalCost {
    width: 25% !important;
}

.combatSkillRowShell .skillRow h2:first-child, .combatInput {
    width: 55% !important;
}

.combatSkillRowShell .stripings div {
    height: 19.6px;
    width: 55%;
}

.combatStripings .stripeDiv div:first-child {
    width: 175%;
}

.stripeDiv div:first-child {
    width: 50%;
    border-right: 2px solid grey;
}

.stripeDiv:first-child div:first-child {
    border-right: none;
}

.stripeDiv div:nth-child(2) {
    width: 50%;
    border-right: 2px solid #222;
    background: unset !important
}

.combatSkillRowShell .stripings {
    width: 193px;
}

.combatSkillRowShell .stripings .stripeDiv {
    width: 100%;
    height: 20px;
}

.combatSkillRowShell .stripings .stripeDiv div {
    min-width: unset;
    height: 20px;
}

.skillsUntrainedDiv {
    position: absolute;
    left: 83px;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stressShell, .editingStressThreshold {
    display: flex;
    justify-content: space-between;
}

.stressShell div {
    display: flex;
    align-items: center;
    width: 50%;
}

.editingStressThreshold div {
    display: flex;
    align-items: center;
}

.editingStressThreshold div {
    width: 100%;
}

.stressShell div p {
    width: 35%;
}

.stressShell div input {
    width: 65%;
}

.stressShell div:first-child {
    border: 2px solid #990000;
    width: 49%;
}

.stressShell div p:first-child, .editingStressThreshold p {
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    padding-top: 2px;
}

.stressShell div:last-child p:first-child {
    font-family: 'Vollkorn SC', serif;
    margin: 0;
    font-weight: normal;
    font-size: 10px;
    padding-left: 5px;
}

.stressShell div:last-child p:last-child {
    text-align: center;
}

.editingStressThreshold input, .editingStressThreshold p {
    width: 50%;
}

.editingStressThreshold div:first-child p {
    width: 75%;
}

#not-found {
    text-align: center;
    width: 400px;
}

#not-found p {
    color: whitesmoke;
    font-family: "hamlet";
    letter-spacing: 2px;
    margin: 0;
    font-size: 30px;
    text-shadow: 4px 2px 2px #222
}

#not-found p:first-child {
    font-size: 145px;
}

.fa-rectangle-xmark {
    margin-top: 2px;
    font-size: 16px;
    color: grey;
    transition: .6s;
}

.fa-rectangle-xmark:hover {
    color: orange;
}

.locked-out {
    color: red
}

@media (max-width: 825px) {
    .pageBase {
        width: 100vw;
    }

    .pdfViewStylings {
        margin: 0;
    }

    .pageViewStylings {
        box-shadow: unset;
    }
}