.namePlate {
    left: 20px;
    top: 23px;
}

.playerPlate {
    left: 402px;
    top: 23px;
}

.playerScorePlate {
    left: 445px;
    top: 38px;
    border-bottom: 2px solid;
    width: 152px;
    padding: 1px 5px;
}

.racePlate {
    left: 20px;
    top: 47px;
}

.archetypePlate {
    left: 203px;
    top: 47px;
}

.archetypeSlashPlate {
    left: 394px;
    top: 43px;
    font-size: 20px !important;
}

.levelPlate {
    left: 517px;
    top: 47px;
}

.crpPlate {
    left: 48px;
    top: 70px;
}

.crpTitle {
    left: 20px;
    top: 70px;
    font-weight: bold;
}

.nextExPlate {
    left: 263px;
    top: 70px;
}

.currentExPlate {
    left: 153px;
    top: 70px;
}

.primaryDrawbackPlate {
    left: 20px;
    top: 89px; 
}

.drawbackFirstScorePlate {
    left: 145px;
    top: 104px;
    border-bottom: 2px solid;
    width: 302px;
}

.drawbackSecondScorePlate {
    left: 20px;
    top: 122px;
    border-bottom: 2px solid;
    width: 428px;
}