.homeShell {
    margin: 30px;
}

.homeShell .characterShell:first-child {
    margin-bottom: 15px;
}

.characterShell {
    padding: 30px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.character {
    display: flex;
}

.character:hover, .character:hover p {
    background: purple;
    color: white;
    cursor: pointer;
}

.character p {
    min-width: 24%;
}

.character p:first-child {
    font-weight: 700;
}

.character p {
    margin-left: 5px
}

.fa-plus {
    margin: 15px 5px;
    padding: 5px;
}

.fa-plus:hover {
    background: purple;
    border-radius: 15px;
    padding: 5px;
    color: whitesmoke;
}