.homeShell {
    margin: 30px;
    padding: 30px;
    background-color: white;
}

.character {
    display: flex;
}

.character:hover, .character:hover p {
    background: purple;
    color: white;
    cursor: pointer;
}

.character p {
    min-width: 24%;
}

.character p:first-child {
    font-weight: 700;
}

.character p {
    margin-left: 5px
}