.headerShell {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #2192b8;
    position: relative;
    color: whitesmoke
}

.fa-home {
    font-size: 30px;
    color: whitesmoke
}

.fa-home:hover {
    color: lightgray;
    cursor: pointer;
}