.editPairRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.pairRowStriping {
    height: 19.6px;
}

.stripesShell div:nth-child(even) {
    background: lightgray;
}

.viewPairListStriping {
    position: relative;
}

.viewPairListStriping .stripesShell, .viewPairListStriping .contentPairListShell {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.viewPairListStriping .contentPairListShell {
    position: absolute;
    top: 0
}

.titleInput {
    padding: 1px 4px;
    position: unset !important;
}

.valueInput {
    padding: 0 4px;
    position: unset !important;
    text-align: right;
}

.valueDisplay {
    position: unset !important;
    text-align: right;
}

.skillInput {
    padding: 0 4px;
    width: 45%;
    position: unset !important;
}

.costInput {
    padding: 0 4px;
    position: unset !important;
    text-align: left;
    width: 18%;
    z-index: 1;
}

.costView {
    padding: 0 4px;
    position: unset !important;
    text-align: center;
    width: 18%;
}

.rankInput {
    padding: 0 4px;
    position: unset !important;
    text-align: center;
    width: 18%;
}

.modInput {
    padding: 0 4px;
    position: unset !important;
    text-align: center;
    width: 18%;
}

.totalCost {
    padding: 0 4px;
    position: absolute;
    text-align: right;
    width: 18%;
    left: 127px;
    z-index: 0;
}