.editPairRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.pairRowStriping, .contentPairListShell input {
    height: 19.6px;
    margin: 0;
}

.contentPairListShell input {
    text-align: center;
}

.contentPairListShell input:first-child {
    text-align: unset;
}

.gearColumn .viewPairListStriping {
    border-left: 2px solid grey;
}

.gearColumn:first-child .viewPairListStriping {
    border-left: none;
}

.stripesShell div:nth-child(even) {
    background: lightgray;
}

.viewPairListStriping {
    position: relative;
}

.viewPairListStriping .stripesShell, .viewPairListStriping .contentPairListShell {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.viewPairListStriping .contentPairListShell {
    position: absolute;
    top: 0
}

.titleInput {
    padding: 1px 4px;
    position: unset !important;
    text-align: left;
}

.valueInput {
    padding: 0 4px;
    position: unset !important;
    text-align: right;
}

.valueDisplay {
    position: unset !important;
    text-align: right;
}

.skillInput {
    padding: 0 4px;
    width: 151px;
    position: unset !important;
}

.costInput {
    padding: 0 4px;
    position: unset !important;
    text-align: left;
    width: 40px;
    z-index: 1;
}

.costView {
    padding: 0 4px;
    position: unset !important;
    text-align: center;
    width: 40px;
}

.rankInput {
    padding: 0 4px;
    position: unset !important;
    text-align: center;
    width: 40px;
}

.modInput {
    padding: 0 4px;
    position: unset !important;
    text-align: center;
    width: 40px;
}

.totalCost {
    padding: 0 4px;
    position: absolute;
    text-align: right;
    width: 40px;
    left: 127px;
    z-index: 0;
}